{{#if hasErrors}}
    <p class="errornote">There was an error in your column template assigned fields.</p>
{{/if}}
<div class="grp-group grp-tabular">
    <h2 class="grp-collapse-handler">Column Template Assigned Fields</h2>
    <ul class="grp-tools">
        <li><a href="javascript://" class="grp-icon grp-add-handler" title="Add Another" {{action "addForm"}}></a></li>
    </ul>
    <div class="grp-module grp-table">
        <div class="grp-module grp-thead">
            <div class="grp-tr">
                <div class="grp-th">Field Name</div>
                <div class="grp-th">Display name</div>
                <div class="grp-th">&nbsp;</div>
            </div>
        </div>
        <input {{bind-attr name="totalFormCountName"}} type="hidden" {{bind-attr value="totalFormCount"}}>
        <input {{bind-attr name="initialFormCountName"}} type="hidden" {{bind-attr value="initialFormCount"}}>
        {{#each container in formContainers}}
            {{view container.form.view}}
        {{/each}}
    </div>
    <div class="grp-module grp-transparent grp-dynamic-form">
        <div class="grp-row">
            <a href="javascript://" class="grp-add-handler" {{action "addForm"}}><strong>Add another column template assigned field</strong></a>
            <ul class="grp-tools">
                <li><a href="javascript://" class="grp-icon grp-add-handler" title="Add Item" {{action "addForm"}}></a></li>
            </ul>
        </div>
    </div>
</div>
